@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --text-zinc-500:#71717A;
  --text-zinc-800:#27272A;
  --text-zinc-900:#18181B;



  --text-link-navbar:var(--text-zinc-500);
  --text-link-navbar-hover:var(--text-zinc-800);
  --text-link-navbar-active:var(--text-zinc-900);
 
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  color: black;
 
}
